.InputContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    
    
}

.Input {
    width: 60vw;
    border: 2px solid black;
    border-right: none;

}
.Submit{
    outline: none;
    border: 2px solid black;
    color:black;
    background-color: rgb(124, 183, 235);
    padding: 10px;
    width: 100px;

}
.Submit:hover {
    cursor: pointer;
    filter: brightness(1.05);
}
.image-container {
    display: flex;
    position: absolute;
    justify-content: center;

}


img {
    width: 400px;
    height: auto;
    

}
.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px rgb(107, 13, 195) inset;
}

.welcome {
    text-align: center;
    color: rgb(98, 98, 152);
    
}